.why-choose-tab {
    // border-bottom: 2px solid rgba(0, 206, 201, 0.2);
    max-width: 1170px;
    margin: auto;
    margin-bottom: 60px;
    padding-bottom: 12px;
    height: 38px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 2px;
        background: rgba(0, 206, 201, 0.2);
        border-radius: 1px;
        width: 100%;
        bottom: 0px;
        left: 0px;
    }
    .tab-buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .slick-list {
            padding: 0 !important;
            width: 100% !important;
            overflow: visible;
        }
    
        .slick-track {
            width: 100% !important;
            transform: translate3d(0px, 0px, 0px) !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .slide-item {
            cursor: pointer;
            opacity: 0.6;
            &.slick-current {
                opacity: 1;
            }
        }
        .tab-btn{
            height: 26px;
            text-align: left;
            width: 25% !important;
            &.slick-current{
                &::after{
                    content: '';
                    position: absolute;
                    height: 2px;
                    background: #00CEC9;
                    border-radius: 1px;
                    width: 20%;
                    bottom: -12px;
                    left: 0px;
                    animation: lineProgress 3.5s linear infinite;
                    -webkit-animation: lineProgress 3.5s linear infinite;
                }
                span{
                    &:nth-child(1){
                        color: #00CEC9;
                    }
                }
            }
        }
    }
}

.why-choose-section {
    padding: 65px 0 20px;
    .tab-content {
        margin-top: 60px;
        width: 100%;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .tab-btn {
        text-transform: capitalize;
        font-family: fontfamily(montserratAlternates);
        font-weight: 700;
        color: color(title);
        transition: 0.3s;
        span {
            color: #999999;
            transition: 0.3s;
        }

        .text,
        .text2 {
            color: color(title);
        }

        &.active {
            span {
                color: #00cec9;
            }

            .text,
            .text2 {
                color: color(title);
            }
        }
    }
    .tab-body {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 50px;

        &-icon {
            width: 30%;
            flex: 0 0 auto;
        }
        &-text {
            flex: 0 0 auto;
            width: 50%;
        }
        h2 {
            font-size: 24px;
            line-height: 36px;
        }
        p {
            margin-top: 29px;
            color: #444444;
        }
        .list {
            margin-top: 11px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .list-item {
                display: flex;
                align-items: center;
                gap: 10px;
                svg {
                    font-size: 18px;
                    color: #999999;
                    position: relative;
                    top: -5px;
                }
                p {
                    margin-top: 0;
                    color: color(title);
                }
            }
        }
    }
}

.why-choose-parent {
    width: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    overflow: hidden;
    .overlay-left,
    .overlay-right {
        position: absolute;
        z-index: 3;
        top: 0;
        width: 20%;
        height: 100%;
    }
    .overlay-left {
        left: 0;
        background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    }
    .overlay-right {
        right: 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
}

.why-chose-slider{
    .section{
        max-width: 1170px;
        width: 100%;
        margin: auto;
    }
}
.why-choose-section {
    position: relative;
    max-width: 1800px;
    margin: auto;
    .why-choose-tab {
        progress {
            position: relative;
            top: -20px;
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 2px;
            border: none;
            background: transparent;
            z-index: 2000;
        }

        progress::-webkit-progress-bar {
            background: transparent;
        }
        progress::-webkit-progress-value {
            background: color(heroimg1Bg);
            background-attachment: fixed;
        }
        progress::-moz-progress-bar {
            background: color(heroimg1Bg);
            background-attachment: fixed;
        }
    }
    .swiper-container {
        width: 100%;
        display: flex;
        position: relative;
        .swiper-scrollbar {
            position: absolute;
            top: -38px;
            width: 1170px;
            height: 2px;
            background: rgba(0, 0, 0, 0.1);
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
            .swiper-scrollbar-drag {
                transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
                background: color(heroimg1Bg);
            }
        }
        .swiper-wrapper {
            display: flex;
            transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
        }
        .swiper-slide {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
    }
}

// .why-choose-content {
//     display: none;

//     .tab-item {
//         &:not(:first-child) {
//             margin-top: 30px;
//         }
//     }
//     .tab-body {
//         margin-top: 20px;
//     }
// }
