.newsleter-features-secton{
    padding-bottom: 140px;
}
.newsleter-features-card{
    background: color(whiteColor);
    border-radius: 20px;
    margin-bottom: 30px;
    .newsleter-features-card-img{
        img{
            width: 100%;
        }
    }
}
.newsleter-features-card-text{
    padding: 32px 30px 35px 30px;
    h5{
        margin-bottom: 19px;
    }
    p{
        margin-bottom: 16px;
    }
    a{
        font-weight: 700;
        color: color(title);
        transition: 0.3s;
        img{
            margin-left: 10px;
            filter: brightness(0);
            transition: 0.3s;
        }
        &:hover{
            color: color(primary);
            img{
                filter: none;
                transform: rotate(-45deg);
            }
        }
    }
}