.how-it-work-section{
    padding: 132px 0px 102px 0px;
    background: #101722;
}
.how-it-work-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    h2 {
        margin-right: 15px;
        font-weight: 700;
        font-size: 50px;
        line-height: 100%;
        text-transform: uppercase;
        background: linear-gradient(90deg, rgba(48, 215, 241, 0.5) 0%, rgba(121, 250, 75, 0.5) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.how-it-work-text{
    max-width: 263px;
    margin-bottom: 30px;
    h5{
        margin-bottom: 10px;
        color: color(whiteColor);
        font-weight: 700px;
    }
    p{
        margin-bottom: 0px;
        color: rgba(255, 255, 255, 0.8);
    }
}