.explore-creators-section {
    padding-top: 113px;
    padding-bottom: 100px;
}

.marketplace-title {
    margin-bottom: 37px;
    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: color(title);
    }
}

.creators-card{
    position: relative;
    margin-bottom: 30px;
    &::after{
        content: '';
        height: 100%;
        width: 95%;
        background: color(whiteColor);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        position: absolute;
        top: 0px;
        left: 2.5%;
        position: absolute;
        z-index: 2;
        transition: 0.5s;
    }
    &::before{
        content: '';
        height: 100%;
        width: 90%;
        top: 0px;
        left: 5%;
        background: color(whiteColor);
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        position: absolute;
        z-index: 0;
        transition: 0.5s;
    }
    &:hover{
        &::after{
            top: 5px;
        }
        &::before{
            top: 10px;
        }
    }
    .creators-card-content{
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 15px;
        padding: 30px;
        text-align: center;
        position: relative;
        z-index: 3;
    }
    .creators-img{
        min-height: 70px;
        min-width: 70px;
        max-height: 70px;
        max-width: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 11px;
    }
    h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 2px;
        margin-left: 7px;
    }
    .username{
        font-size: 12px;
        line-height: 24px;
        color: color(iconColor);
        margin-bottom: 17px;
    }
    h6 {
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        margin-bottom: 13px;
    }
}
.creators-card-btns {
    button {
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        margin: auto;
        max-height: 35px;
        min-height: 35px;
        border-radius: 8px;

        &.follow-btn {
            padding: 13px;
            background: rgba(0, 0, 0, 0.08);
            color: color(title);
            display: flex;
        }

        &.following-btn {
            color: #4157FF;
            background: rgba(65, 87, 255, 0.15);
            padding: 14px 13px;
            display: none;
        }

        span {
            margin-left: 9px;
            display: none;
            transition: 0.3s;
        }

        &:hover {
            padding: 5.5px 22px;

            span {
                display: block;
            }
        }
    }

    &.active {
        button {
            &.follow-btn {
                display: none;
            }
            &.following-btn {
                display: flex;
            }
        }
    }
}
body.dark-scheme,
html.dark-scheme body {
    .creators-card {
        .creators-card-content {
            background: #181D22;
        }
        &::after,
        &::before {
            background: #181D22;
        }
    }
    .creators-card-btns {
        button {
            color: color(whiteColor);
            img {
                filter: brightness(100);
            }

        }
    }
}