.ecosystem-section{
    padding-top: 82px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        z-index: 23;
        bottom: 225px;
        left: 0px;
        background: linear-gradient(90deg, rgba(13, 16, 20, 0) 0%, rgba(55, 234, 142, 0.5) 51.56%, rgba(13, 16, 20, 0) 100%);
    }
    &::after{
        content: '';
        position: absolute;
        height: 287px;
        width: 100%;
        z-index: 22;
        bottom: -60px;
        left: 0px;
        background: rgba(13, 16, 20, 0.7);
        backdrop-filter: blur(40px);
    }
    p{
        font-size: 18px;
        line-height: 200%;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        max-width: 779px;
        margin: auto;
        margin-bottom: 55px;
    }
}

.ecosystem-text {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        list-style: none;
        margin-bottom: 0px;

        li {
            width: 20%;
            font-size: 18px;
            padding: 0px 12px;
            text-align: center;
            margin-bottom: 13px;
            color: color(whiteColor);
            line-height: 30px;
        }
    }
}
.ecosystem-content{
    max-width: 944px;
    margin: auto;
    text-align: center;
    .globe-img{
        max-width: 450px;
        margin: auto;
        text-align: center;
        margin-top: -60px;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        .cloud1{
            position: absolute;
            top: 51px;
            left: 42px;
        }
        .cloud2{
            position: absolute;
            top: 150px;
            left: -27px;
        }
        .cloud3{
            position: absolute;
            top: 72px;
            right: -47px;
        }
        .cloud4{
            position: absolute;
            top: 175px;
            right: -20px;
        }
    }
}
.eco-line-pc {
    display: block;
}

.eco-line-mobile {
    display: none;
}


.defi-launchapp-btn {
    width: 220px;
    height: 60px;
    background: #37EA8E;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: color(title) !important;
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 72px;
    font-weight: 700;
    img{
        transition: 0.3s;
        margin-left: 14px;
    }
    &:hover{
        color: color(title);
        img{
            transform: rotate(-45deg);
        }
    }
}