.auth-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    height: 100vh;
    background: color(whiteColor);
    overflow: hidden;
}

.auth-form-section{
    background: color(whiteColor);
    position: relative;
    max-width: 620px;
    width: 100%;
    overflow: hidden;
    padding: 25px 75px;
    min-height: 100%;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    &::after{
        content: '';
        height: 700px;
        width: 700px;
        background: linear-gradient(180deg, rgba(65, 152, 254, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 50%;
        left: -206px;
        top: 140px;
        position: absolute;
    }
    form{
        position: relative;
        z-index: 1;
    }
    h4{
        margin-bottom: 35px;
    }
    label{
        text-transform: uppercase;
        color: color(title);
        margin-bottom: 5px;
    }
    input{
        background: color(whiteColor);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        width: 100%;
        padding: 15px;
        margin-bottom: 21px;
        font-weight: 500;
        font-size: 15px;
        line-height: 200%;
        color: color(title);
        &::placeholder{
            color: color(iconColor);
        }
    }
    .form-primary-btn{
        background: #0095FF;
        border-radius: 10px;
        padding: 17px;
        width: 100%;
        font-weight: 700;
        line-height: 26px;
        color: color(whiteColor);
    }
    .secondary-btn{
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        padding: 17px;
        width: 100%;
        font-weight: 700;
        line-height: 26px;
        color: color(title);
        margin-bottom: 20px;
        transition: 0.3s;
        img{
            margin-right: 13px;
        }
        &:hover{
            box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.08);
        }
    }

    .or-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
        margin: 10px 0px;
        p{
            text-transform: uppercase;
        };
        &::after{
            content: '';
            height: 1px;
            background: rgba(0, 0, 0, 0.12);
            max-width: 70%;
            width: 100%;
        }
        &::before{
            content: '';
            height: 1px;
            background: rgba(0, 0, 0, 0.12);
            max-width: 70%;
            width: 100%;
        }
    }

    .auth-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #111111;
        margin-bottom: 16px;
    }
    p{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #444444;
        margin-bottom: 47px;
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #111111;
            margin-bottom: 0px;
        }
    }
}
.auth-page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 125px;
    .back-link {
        font-weight: 700;
        font-size: 15px;
        line-height: 200%;
        text-align: right;
        color: #999999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg{
            font-size: 24px;
            margin-right: 10px;
            color: #999999;
            path{
                font-size: 24px;
                margin-right: 10px;
                color: #999999;
            }
        }
    }
}

.auth-right-section{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    video{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.auth-brand-slider-section{
    position: absolute;
    padding: 54px 75px;
    z-index: 1;
    margin-top: auto;
    left: 0px;
    bottom: 0px;
    .auth-brand-slider-inner{
        max-width: 850px;
        width: 100%;
        margin-right: auto;
        overflow: hidden;
    }
    h5{
        color: #FFFFFF;
        margin-bottom: 29px;
        line-height: 50px;
        font-weight: 700;
    }
}
.auth-brand-slider{
    display: flex;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding: 0px;
        flex-wrap: wrap;
        row-gap: 20px;
        li{
            margin-right: 50px;
            min-width: max-content;
            filter: brightness(100);
        }
    }
}